/* index.css 또는 global.css 상단에 추가 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
